@import "tailwindcss";

body {
  font-family: var(--font-open-sans);
  background: white;
}

@theme {
  --color-primary: #003160;
  --color-secondary: #00A14B;
  --color-accent: #E5E5FF;
  --color-surface: #FFEDE2;
  --color-card: #E5E5FF;
  --color-warning: #EB3C13;
  --color-success: #10B981;
  --color-info: #3B82F6;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

select, input {
  transition: 0.4s;
}





