@import "tailwindcss";

:root {
  /* Color Styles */
  --color-main-background: #FFFFFF;
}

body {
  font-family: var(--font-open-sans);
  background: white;
}

@theme {
  --color-primary: #003160;
  --color-secondary: #00A14B;
  --color-stroke: #E0E0E0;
  --color-surface: #FFEDE2;
  --color-card: #F5FBF8;
  --color-warning: #EB3C13;
  --color-success: #10B981;
  --color-info: #3B82F6;
  --color-primary-text: #003160;
  --color-secondary-text: #6B7280;
}


@layer components {
  .title {
    @apply text-primary-text text-3xl md:text-[2.5rem] font-bold mb-4;
  }
  .heading {
    @apply text-primary-text text-3xl md:text-4xl font-medium mb-4;
  }

  .text-title {
    @apply text-black text-xl md:text-base leading-relaxed font-bold mb-4;
  }

  .info {
    @apply text-black text-sm md:text-base leading-relaxed;
  }
}